
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: linear-gradient(to bottom right, #f5f3ff1e, #fce7f325);
  color: #1f2937;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
} */

html {
  color-scheme: dark;
}

body {
  background: linear-gradient(to bottom right, #1e293b, #312e81, #4c1d95);
  color: #f3f4f6; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}


@keyframes fade-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.8s ease forwards;
}
.delay-150 { animation-delay: 0.15s; }
.delay-300 { animation-delay: 0.3s; }
.delay-500 { animation-delay: 0.5s; }
.delay-700 { animation-delay: 0.7s; }
